@CHARSET "UTF-8";
img {
  margin: 5px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.item-avatar {
  width: 80px;
}
.wide-element {
  width: 512px;
}
.aligned-topic {
  vertical-align: middle;
}